#content {

}

.navicon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    filter: grayscale(100%) brightness(0.75) contrast(200%);
    -webkit-filter: grayscale(100%) brightness(0.75) contrast(200%);
}

#content .backend-icon {
    width:  96px;
    height: 96px;
}

#content .panel-title {
    font-weight: bold;
    font-size:   10pt;
}
