---
bindings:
- name:     status
  resource: :/api/status
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/js/tether.min.js"></script>
        <script type="text/javascript" src="/js/stapes.min.js"></script>
        <script type="text/javascript" src="/js/jquery.json-viewer.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>

        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/css/jquery.json-viewer.css" type="text/css">
        <link rel="stylesheet" href="/css/app.css" type="text/css">

        <title>Pivot</title>
    </head>

    <body>
        <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand">
        <!--
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#menu"
                aria-controls="menu"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        -->

            <div class="navbar-collapse" id="menu">
                <a class="navbar-brand" href="/">Pivot</a>

                <span class="navbar-text ml-auto">
                    <b>Backend:</b> {{ .bindings.status.backend }}
                    {{ if nex .bindings.status.backend .bindings.status.indexer }}
                        <br />
                        <b>Indexer:</b>
                        {{ .bindings.status.indexer }}
                    {{ end }}
                </span>
            </div>
        </nav>

        <div id="content" class="container-fluid">{{ template "content" . }}</div>
    </body>
</html>
