html, body {
    height:   100vh;
    overflow: hidden;
}

#content {
    margin-top: 56px;
    height:     calc(100vh - 56px);
}

.navicon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    filter: grayscale(100%) brightness(0.75) contrast(200%);
    -webkit-filter: grayscale(100%) brightness(0.75) contrast(200%);
}

#content .backend-icon {
    width:  96px;
    height: 96px;
}

#content .panel-title {
    font-weight: bold;
    font-size:   10pt;
}

.table-plain, .table-plain tbody, .table-plain tr {
    margin-bottom: 0;
    border-width: 0;
}

.elide {
    overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap;
}

.collections-list {
    background:      #222;
    padding:         0;
    color:           #DDD;
    overflow:        auto;
}

.collections-list > .collections-list-header {
    font-size:       18px;
    background:      black;
    color:           white;
    padding:         1rem;
    margin:          0;
}

#collections {
    border-radius:   0;
}

#collections .list-group-item {
    background:      transparent;
    padding:         0.25rem 1rem;
    border-radius:   0;
    border:          0;
    color:           #DDD;
    overflow:        hidden;
    text-overflow:   ellipsis;
}

#collections .list-group-item:hover {
    background:      #111;
    color:           white;
}

#browser {
    padding:         0;
    overflow:        auto;
}

#browser > .container-fluid {
    padding:         0;
}

#browser .browser-view {
    margin:          0.5rem;
}

#browser .browser-view th {
    cursor: pointer;
}

#browser .browser-header {
    font-size:       18px;
    background:      #444;
    color:           white;
    padding:         0.4rem 1rem;
    margin:          0;
}

.filter-criteria {
    height: calc(2.25rem + 2px);
}

.filter-criteria > .criterion {
    user-select: none;
    padding: 0.125em 0.25em;
}

.filter-criteria > .criterion:after {
    content: 'AND';
    margin-left: 0.5em;
}

.filter-criteria > .criterion:last-child:after {
    content: '';
}

.filter-criteria > .criterion > * {
    background-color: dodgerblue;
    border-radius: 4px;
    padding: 0.125em 0.2em;
    color: white;
    cursor: pointer;
}

.filter-criteria > .criterion .criterion-field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-criteria > .criterion .criterion-field:after {
    content: ' /';
}

.filter-criteria > .criterion .criterion-operator {
    border-radius: 0;
}

.filter-criteria > .criterion .criterion-operator:after {
    content: ' :';
}

.filter-criteria > .criterion .criterion-value {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}