---
bindings:
- name:     results
  resource: :/api/collections/{{ qs `id` }}/where/{{ or (qs `q`) `all` }}
  params:
    limit:  '{{ qs `limit` }}'
    offset: '{{ qs `offset` }}'
    sort:   '{{ qs `sort` }}'
    fields: '{{ qs `fields` }}'
---
<div class="container-fluid">
    <h3 class="browser-header">{{ qs `id` }}</h3>

    <div class="browser-view">
        <h6 class="mb-4">{{ thousandify .bindings.results.result_count }} records</h6>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fields</th>
                </tr>
            </thead>
            <tbody>
            {{ range $index, $record := .bindings.results.records }}
                <tr>
                    <td>{{ $record.id }}</td>
                    <td style="padding: 0">
                        <table class="table table-sm table-plain table-responsive">
                            <tbody>
                            {{ range $k, $v := $record.fields }}
                            <tr class="elide">
                                <th>{{ $k }}</th>
                                <td id="q_{{ $index }}_{{ $k }}">
                                {{ if isMap $v }}
                                    <script type="text/javascript">
                                        $(function(){
                                            var data = JSON.parse({{ jsonify $v }});

                                            $('#q_{{ $index }}_{{ $k }}').jsonViewer(data, {
                                                collapsed: true,
                                            });
                                        });
                                    </script>
                                {{ else if surroundedBy $v "{" "}" }}
                                    <script type="text/javascript">
                                        $(function(){
                                            var data = JSON.parse({{ $v }});

                                            $('#q_{{ $index }}_{{ $k }}').jsonViewer(data, {
                                                collapsed: true,
                                            });
                                        });
                                    </script>
                                {{ else }}
                                    <code>{{ $v }}</code>
                                {{ end }}
                                </td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>
