---
bindings:
- name:     results
  resource: :/api/collections/{{ qs `id` }}/where/{{ or (qs `q`) `all` }}
  params:
    limit:  '{{ qs `limit` }}'
    offset: '{{ qs `offset` }}'
    sort:   '{{ qs `sort` }}'
    fields: '{{ qs `fields` }}'
---
<div class="container-fluid">
    <nav class="nav browser-header">
        <div class="navbar-brand">{{ qs `id` }}</div class="nav-brand">

        <form class="ml-auto w-50" action="/">
            <input type="hidden" name="collection" value="{{ qs `id` }}">
            <div class="input-group">
                <input class="form-control" type="text" name="q" value="{{ qs `q` }}">

                <div class="input-group-append">
                    <button
                        type="submit"
                        class="btn btn-secondary"
                    >
                        <i class="fa fa-fw fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </nav>

    <div class="browser-view">
        <h6 class="mb-4">{{ thousandify .bindings.results.result_count }} results</h6>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fields</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {{ range $index, $record := .bindings.results.records }}
                <tr>
                    <td>{{ $record.id }}</td>
                    <td style="padding: 0">
                        <table class="table table-sm table-plain table-responsive">
                            <tbody>
                            {{ range $k, $v := $record.fields }}
                            <tr class="elide">
                                <th>{{ $k }}</th>
                                <td id="q_{{ $index }}_{{ $k }}">
                                {{ if isMap $v }}
                                    <script type="text/javascript">
                                        $(function(){
                                            var data = JSON.parse({{ jsonify $v }});

                                            $('#q_{{ $index }}_{{ $k }}').jsonViewer(data, {
                                                collapsed: true,
                                            });
                                        });
                                    </script>
                                {{ else if surroundedBy $v "{" "}" }}
                                    <script type="text/javascript">
                                        $(function(){
                                            var data = JSON.parse({{ $v }});

                                            $('#q_{{ $index }}_{{ $k }}').jsonViewer(data, {
                                                collapsed: true,
                                            });
                                        });
                                    </script>
                                {{ else }}
                                    <code>{{ $v }}</code>
                                {{ end }}
                                </td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <a href="/editor?collection={{ qs `id` }}&record={{ $record.id }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>
