---
bindings:
- name:     collections
  resource: :/api/schema
---
<div class="row">
    <div class="col-sm-12 col-md-2 collections-list">
        <h3 class="collections-list-header">Collections</h3>
        <div class="list-group" id="collections">
            {{ range .bindings.collections }}
            <a href="/?collection={{ . }}" class="list-group-item list-group-item-action" data-collection="{{ . }}">
                {{ . }}
            </a>
            {{ end }}
        </div>
    </div>

    <div class="col-sm-12 col-md-10" id="browser">
        <div class="container-fluid">
            <h3 class="browser-header">(no collection selected)</h3>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        var browse = function(collection) {
            var browser = $('#browser');
            browser.load('/_query?' + $.param({
                id:     collection,
                limit:  25,
                offset: 0,
                sort:   '',
                q:      '{{ qs `q` }}',
            }));
        };

        // $('#collections a').on('click', function(e) {
        //     var el = $(e.target);

        //     if (el.attr('data-collection')) {
        //         browse(el.attr('data-collection'));
        //     }
        // });

        {{ if qs `collection` }}
        browse('{{ qs `collection` }}');
        {{ end }}
    });
</script>
